<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653760065673-7dq1bnelufp3c31g9p6q83b8njq5rffd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653760065673-7dq1bnelufp3c31g9p6q83b8njq5rffd</string>
	<key>API_KEY</key>
	<string>AIzaSyAN3KM0WLDG7n_8159KO_SOVLjDJ4NIfW0</string>
	<key>GCM_SENDER_ID</key>
	<string>653760065673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnreactnative2023</string>
	<key>PROJECT_ID</key>
	<string>learn-react-native-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-react-native-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653760065673:ios:fe76f8b3494741c6781658</string>
</dict>
</plist>